@import 'bootstrap';
.navbar-inverse {
  .navbar-header {
    a.navbar-brand.rezoome_header {
      color: white;
    }
  }
}
body {
  padding-top: 50px;
}
.rezoome {
  padding: 40px 0;
  .btn-group-vertical {
    button {
      text-align: left;
      border: 1px solid;
    }
  }
  .resume_list {
    max-height: 100px;
    overflow-y: auto;
    .btn {
      width: 100%;
      border: 1px solid;
    }
    a {
      color: white;
    }
  }
  h4.resume {
    text-align: center;
  }
}
.center-text {
  text-align: center;
}

