@import 'bootstrap';
.navbar-inverse {
  .navbar-header {
    a.navbar-brand.rezoome_header {
      color: white;
    }
  }
}
body {
  padding-top: 50px;
}
.rezoome {
  padding: 40px 0;
  .btn-group-vertical {
    button {
      text-align: left;
      border: 1px solid;
    }
  }
}
.center-text {
  text-align: center;
}

