@import 'bootstrap';
@import 'littlebar';
.highlight {
  background: #c1fd33;
}
body {
  padding-top: 50px;
  .waiting {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    .waiting-container {
      display: inline-block;
      margin: 0 auto;
    }
  }
}
#flash {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 80px;
}
.form-inline .notes {
  textarea.form-control  {
    width: 603px;
  }
}
.rezoome {
  padding: 40px 0;
  .btn-group-vertical {
    button {
      text-align: left;
      border: 1px solid;
    }
  }
  .emailer {
    form.form-inline {
      .input-group.email_subject, .input-group.email_body {
        margin-left: 1em;
      }
      .input-group.email_to {
        width: 8em;
      }
      .input-group.email_body {
        width: 15em;
      }
      a {
        margin-left: 1em;
      }
    }
    margin-bottom: 1em;
  }
  .search_container {
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin: 0 20px;
    padding: 0 0 8px 0;
    .row.name_and_position {
      margin-top: 2em;
    }
    form {
      input {
        margin-left: 2em;
      }
      .input-group.zip, #primary_email, #last_name, #first_name, #state {
       margin-top: -34px;
      }
      .input-group.radius {
        margin-right: 2em;
      }
      .radius.help-block {
        text-align: left;
        margin-left: 2em;
        color: @gray;
      }
      input#location {
        width: 19em;
        margin-right: 2em;
      }
      input#radius {
        width: 9em;
      }
      span.input-group-addon{
        width: 2em;
      }
      input#primary_email {
        width: 14em;
      }
      input#last_name, input#first_name {
        width: 9em;
      }
      input#state {
        width: 4em;
      }
      textarea {
      }
      .second_row, .third_row {
        margin-top: 1em;
      }
      .reset {
        margin-left: 1em;
      }
    }
  }
  .resume_list {
    max-height: 300px;
    margin-left: -15px;
    overflow-y: auto;
    overflow-x: hidden;
    .btn {
      width: 100%;
      border: 1px solid;
    }
    a {
      color: white;
    }
  }
  .resume_text {
    border: 1px solid;
  }
  h4.resume {
    text-align: center;
  }
}
.center-text {
  text-align: center;
}
.map-canvas {
  width: 500px;
  height: 300px;
}
.file-uploader {
 .btn;
 .btn-info;
 .btn-sm;
}
.btn-file-uploader {
 position: relative;
 text-align: center;
 overflow: hidden;
}
.btn-file-uploader input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 550px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  h4 {
    position: relative;
    top: 5px;
  }
  pre {
    height: 400px;
    overflow-y: scroll;
  }
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 550px;
  background-color: #777;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 10px 0;
      padding: 0;
    }
  }
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
